
* {
	margin: 0;
	padding: 0;
}
#wrap {
	/*background: #F4F4F4;*/
	margin: auto;
	max-width: 1200px;
}
body {
	font-family: Fira Sans;
}
.flex-container {
	display: flex;
	justify-content: space-between;
	padding-top: 50px;
}
.right-image {
/*	width: 665px;
	height: 840px;*/
	padding-top: 100px;
}
.box-content {
	display: flex;
	justify-content: space-around;
}
.text-left {
	padding-top: 138px;
    position: relative;
} 
.text-left h1 {
	font-size: 60px;
	text-align: left;
	padding-right: 140px;
	font-weight: bold;
	color: #151515;
}
.text-left p {
	font-size: 18px;	
	color: #222222;
	font-weight: 400;
	font-style: normal;
	line-height: 1.5;
    padding-right: 157px;
    padding-top: 40px;
    padding-bottom: 60px;
    opacity: 70%;
    text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
}
button {
	padding: 20px 24px;
	border: none;
	color: white;
	font-weight: bold;
	letter-spacing: 4px;
	text-transform: uppercase;
	background-color: #5D5FEF;
	opacity: 100%;
	cursor: pointer;
}
.volume {
	display: flex;
	width: 100%;
	padding-top: 190px;
	align-items: center;
}
span {
    padding: 10px;
}
.volume .min {
	background-color: #C6B393;
	padding: 1px 70px;
	height: 0;
}
.volume .max {
	background-color: #D7D4D4;
	padding: 1px 70px;
	opacity: 100%;
	height: 0;
	z-index: 1;
}
.play {
	position: absolute;
	top: 59%;
    left: 107%;
    z-index: 1;
    cursor: pointer;
    background: white;
}
.videop {
	position: absolute;
	top: 45.5%;
	left: 80%;
	box-shadow: -20px 60px 120px rgba(0, 0, 0, 0.44);
}
/*about*/
.about {
	display: flex;
	margin-top: 150px;
}
.lef-image-a img {
	height: 564px;
}
.right-text-a h1 {
    font-size: 40px;
    font-weight: 600;
    font-style: normal;
    line-height: 50px;
    color: #222222;
    letter-spacing: -1;
}
.right-text-a {
	padding-left: 127px;
	padding-top: 47px;
}
.right-text-a p {
	font-size: 18px;
	padding-bottom: 20px;
	font-style: normal;
	padding-right: 154px;
	line-height: 28px;
	opacity: 70%;
	font-weight: 400;
	
}
.two-text {
	padding-top: 32px;
}

.user {
	padding-top: 24px;
	padding-bottom: 91px;
}
.user img {
	float: left;
	padding-right: 32px;
}
.user p {
    margin: 0;
    padding-top: 15px;
    height: 0;
}
p.user-txt:nth-child(2) {
	color: black;
    font-size: 23px;
    font-weight: 500;
    opacity: 1;
    padding-top: 5px;
}
.u-tt p {
	font-size: 17px;
    line-height: 0;
    margin: 32px;
}
.services {
	display: flex;
	justify-content: space-around;
}
h1.text-ser {
    padding-right:151px ;
}
.menu{
    width: 50%;
 }
 .menu p {
 	line-height: 3;
 	font-size: 18px;
 	color: #C4C4C4;
 }
 p.title {
 	padding-top:145px ;
 	opacity: 70%;
 	color: black;
 	text-align:left;
 	text-transform: uppercase;
 	padding-bottom: 45px;
 }

 .placeholder {
 	display: flex;
 	position: relative;
 }
 .place {
 	margin-left: 22px;
 }
 .play-btn {
 	width: 75px;
 	height: 75px;
 	background: gray;
 	position: absolute;
 	top: 40%;
 	left: 35%;
 	right: 35%;
 	bottom: 40%;
 	text-align: center;
 }
 .border-box {
 	background: #C4C4C4;
 	font-size: 15px;
 	width: 50px;
 	height: 50px;
 	text-align: center;
 	font-weight: bold;
 	 }
.features {
 		position: relative;
 		display: flex;
 		margin-top: 220px;
 		margin-bottom: 300px;
 	}
.fea-position {
 	position: absolute;
	left: 21%;
    top: 20%;
 	}
.fea-text {
	margin-left: 275px;
    box-sizing: border-box;
    padding: 20px;
}
.fea-text p {
	margin-top: 40px;
	font-size: 18px;
}
.fea-img {
	background-color: #E5E5E5;
	border-radius: 15px;
}
img.fea-img {
	margin-right: 20px;
    margin-bottom: -10px;
}
.fea-img-text {
	display: inline-block;
	margin-right: 57px;
	text-transform: uppercase;
	font-size: 18px;
}
.work {
    display: flex;
    justify-content: space-between;
}
ul li {
	display: inline;
	padding: 7px 14px;
}
ul li a {
	text-transform: uppercase;
	text-decoration: none;
	color:#C4C4C4;
}
li.active {
	background-color: #1434E1;
}
ul.work-menu-left {
    margin-top: 33px;
}