
* {
	margin: 0;
	padding: 0;
}
#wrap {
	/*background: #F4F4F4;*/
	margin: auto;
	max-width: 1200px;
}
body {
	font-family: Fira Sans;
}
.flex-container {
	display: flex;
	justify-content: space-between;
	padding-top: 50px;
}
.right-image {
	padding-top: 100px;
}
.box-content {
	display: flex;
	justify-content: space-around;
}
.text-left {
	padding-top: 138px;
    position: relative;
} 
.text-left h1 {
	font-size: 60px;
	padding-right: 140px;
	font-weight: bold;
	color: #151515;
}
.text-left p {
	font-size: 18px;	
	color: #222222;
	font-weight: 400;
	font-style: normal;
	line-height: 1.5;
    padding-right: 157px;
    padding-top: 40px;
    padding-bottom: 60px;
    opacity: 70%;
    text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
}
button {
	padding: 20px 24px;
	border: none;
	color: white;
	font-weight: bold;
	letter-spacing: 4px;
	text-transform: uppercase;
	background-color: #5D5FEF;
	opacity: 100%;
	cursor: pointer;
}
/*volume*/
.volume {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 39%;
	border-radius: 2px;
	background-color: #C6B393;
	margin: 10px;
}
.process {
	width: 50%;
	line-height: 2px;
	height: 2px;
	background-color: #D7D4D4;
	border-radius: 2px;
}
.vol-num-vol {
	display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 190px;
}
/*videos*/

.videos {
	display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 63%;
    top: 46%;
}
img.play {
	position: absolute;
	cursor: pointer;
}
.videop {
	box-shadow: -20px 60px 120px rgba(0, 0, 0, 0.44);
}
/*about*/
.about {
	display: flex;
	padding-top: 150px;
}
.right-text-a h1 {
    font-size: 40px;
    font-weight: 600;
    font-style: normal;
    line-height: 50px;
    color: #222222;
}
.right-text-a {
	padding-left: 127px;
	padding-top: 47px;
}
.right-text-a p {
	font-size: 18px;
	padding-bottom: 20px;
	font-style: normal;
	padding-right: 154px;
	line-height: 28px;
	opacity: 70%;
	font-weight: 400;
	color: #222222;
	
}
.two-text {
	padding-top: 32px;
}
.user {
    display: flex;
    padding-top: 40px;
    align-items: center;
}
.border-user {
    padding-left: 32px;
    padding-bottom: 6px
}
.border-user .user-txt {
    padding: 0px;
}

.user-txt p {
    margin: 0;
    padding-top: 15px;
    height: 0;
    line-height: 17px;
}
p.user-txt:nth-child(1) {
	color: #222222;
    font-size: 22px;
    font-weight: 500;
    padding-top: 5px;
    line-height: 32px;
}

.services {
	display: flex;				
}
h1.text-ser {
    padding-right:102px;
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    font-style: normal;
    color: #222222;
}
/*services*/

.menu-right {
	display: flex;
	padding-right: 189px;
}
.menu-right ul:nth-of-type(1) {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    padding-right: 84px;
}
.menu-right ul:nth-of-type(2) {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
}
ul.menu li a {
    text-transform: none;
    font-style: normal;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    color: #222222;
    opacity: 50%;
    letter-spacing: 0;
}
/*end*/
 /*all titile*/
 p.title {
 	padding-top:145px ;
 	opacity: 70%;
 	color: #222222;
 	font-weight: 500;
 	font-size: 14px;
 	line-height: 24px;
 	text-transform: uppercase;
 	letter-spacing: 4px;
 	padding-bottom: 45px;
 }
/*serview 2*/
.slide-ser {
	display: flex;
	padding-top: 109px;
	position: relative;
	align-items: center;
	width: 100%;
}
.play-play {
	position: absolute;
	cursor: pointer;
	left: 31%;

}
.place-ser:nth-child(2) {
    padding-left: 30px;
}

/*navigation*/
.navigation {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding-top: 50px;
}
.prev {
	background: url(../image/next.png);
	background-repeat: no-repeat;
}
.prev {
    background-image: url(../image/next.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    padding: 26px 27px;
    background-color: #C4C4C4;
}
.prev:nth-child(2) {
    transform: rotate(-180deg);
    margin-left: 30px;
}
/*end*/
/*features*/
.features {
	display: flex;
	padding-top: 180px;
}
.fea-right-img {
    margin-left: -73px;
    position: relative;
}
img.fea-index {
    position: absolute;
    top: 18%;
    left: 57%;
}
.fea-text {
    padding-left: 191px;
    padding-top: 47px;
}
.fea-text h1 {
	font-size: 40px;
	font-weight: 600;
	line-height: 50px;
	color: #222222;
	font-style: normal;
	padding-bottom: 35px;
}
.fea-text p {
	font-size: 18px;
	font-weight: 400;
	line-height: 28px;
	opacity: 70%;
	font-style: normal;
	color: #222222;
	padding-right: 36px;
}
.box-sale{
	padding-top: 60px;
}
.first-sale {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

p.first-text {
    padding-left: 30px;
    color: #000000;
    padding-top: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 4px;
    text-transform: uppercase;
    opacity: 100%;
}
.second-sale {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 30px;
}

.first-img {
	    border-radius: 39px;
    background: #E5E5E5;
    padding: 14px 17px;
}
.second-sale img {
    padding: 1px 2px;
}
.first-sale img {
    padding-top: 4px;
}
/*work */
.work {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul li {
	display: inline;
	padding: 7px 14px;
}
ul li a {
    text-transform: uppercase;
    text-decoration: none;
    color: #C4C4C4;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 4px;	
}
li.active a {
	color: #1434E1;
}
ul.work-menu-left {
    padding-top: 10px;
}

/*work gallary*/
.gal-play {
    display: flex;
    justify-content: center;
    align-items: center;
        align-self: flex-start;
    margin-top: -20px;
}
.play-play2 {
    position: absolute;
    cursor: pointer;
}
.box-see-work {
	display: flex;
	align-items: center;
	padding-top: 60px;
}
.btn-work {
    flex-shrink: 0;
    padding-left: 150px;
}
p.text-see-work {
	font-size: 18px;
	font-style: normal;
	line-height: 28px;
	opacity: 70%;
	font-weight: 400;
	color: #222222;
	}
/*Testimonials*/
.testimonials-container {
	display: flex;
	padding-top: 256px;
}
.testi-left p.title {
    padding: 0;
}
.testi-left {
    padding-right: 76px;
}
.nav-text {
    padding-top: 130px;
}
.nav-text p.user-txt {
    padding-top: 16px;
}
h1.text-tes {
    padding-top: 86px;
    font-size: 40px;
    font-weight: 600;
    line-height: 50px;
}
.navigation2 {
    padding-top: 47px;
}

/*our- silent*/
.our-silent {
	padding-top: 150px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.we-work {
	width: 37%;
}
.we-work p.title {
    padding: 0;
    color: black;
    opacity: 100%;
}
.brands {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    padding-top: 77px;
    align-items: start;
    padding-bottom: 137px;
}
footer {
	background: #515151;
}
.logo-footer {
    padding-top: 5px;
}
.footer-box {
	display: flex;
	justify-content: space-between;
	padding-top: 70px;
	align-items: center;
	padding-bottom: 48px;
}
.flex-footer {
    max-width: 1200px;
    margin: auto;
}
.menu-footer ul li a {
    color: #ffffff;
    text-transform: none;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    font-style: normal;
}
.menu-footer ul li {
    padding: 28px;
}
.menu-footer {
    padding-left: 78px;
    flex-shrink: 0;
}
.confirm-mail {
	background-color: #C6B393;
	line-height: 0;
    padding-top: 22px;
    padding-right: 19px;
}.confirm {
    display: flex;
    padding-left: 48px;
}
.text-mail {
    width: 76%;
}
input.text-mail {
    line-height: 41px;
    padding-left: 23px;
}
.submenu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 41px;
	padding-bottom: 45px;
}
.submenu ul li {
    padding-left: 2px;
}
.submenu ul li a {
    text-transform: capitalize;
     font-style: normal; 
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    mix-blend-mode: normal;
    opacity: 40%;
    color: #ffffff;
}